---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SectionDos from "../components/SectionDos.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to EFC" />
<Header />

<main id="home" class="px-8 md:px-24">
	<section class="mb-8">
		<h1 class="text-2xl font-bold mb-4 text-gray-300 text-center">
			Who are we?
		</h1>
		<div class="lg:flex gap-16 py-4">
			<div
				class="md:w-full flex flex-col gap-4 text-lg text-justify text-gray-400 lg:text-left lg:w-1/2"
			>
				<p class="pb-2">
					We are a proud family business spanning four generations of
					skilled carpenters. For years, we’ve been dedicated to the
					art of concrete forming and carpentry, bringing
					craftsmanship and experience to every project we take on.
				</p>
				<p class="pb-2">
					Today, our father-and-sons team works side by side to
					deliver excellence, with a focus on Quality, Safety, and
					Productivity.
				</p>
				<p class="pb-2">
					Our mission? To exceed your expectations and create results
					that stand the test of time.
				</p>
			</div>
			<!-- imagenes -->
			<div class="container-img">
				<div class="h-26 w-28 rounded-lg m-4">
					<img
						src="https://res.cloudinary.com/pruebaweb/image/upload/c_scale,h_1027,w_835/v1729065618/Im%C3%A1genes%20de%20proyectos/web-mati/kxti8se0wtwcvnfnopr5.png"
						alt="fotografia Miguel"
						class="h-26 w-28 border rounded-lg"
					/>
				</div>
				<div class="h-26 w-28 border rounded-lg m-4 text-white">
					<img
						src="https://res.cloudinary.com/pruebaweb/image/upload/c_scale,h_1027,w_835/v1729065619/Im%C3%A1genes%20de%20proyectos/web-mati/xvnpwkqbzqej4dcdoro0.png"
						alt="fotografia Nicolas"
						class="h-26 w-28 border rounded-lg"
					/>
				</div>
				<div class="h-26 w-28 border rounded-lg m-4">
					<img
						src="https://res.cloudinary.com/pruebaweb/image/upload/v1729065618/Im%C3%A1genes%20de%20proyectos/web-mati/u5gf97s8cqm7h33b94wn.png"
						alt="fotografia Matias"
						class="h-26 w-28 border rounded-lg"
					/>
				</div>
			</div>
		</div>
		<h2 class="text-3xl text-center p-6 font-serif text-yellow-400 italic">
			" Building Trust, Delivering Quality "
		</h2>
	</section>
	<!-- SEGUNDA SECCION -->
	<section id="services" class="mb-8 text-gray-400 text-lg">
		<h2 class="text-3xl text-center font-bold mb-4 text-gray-300 pb-6">
			What services do we offer?
		</h2>
		<SectionDos />

		<section id="contact" class="my-8 text-gray-300 pb-24">
			<h2 class="text-2xl font-bold mb-6 text-center">
				Contact Information
			</h2>
			<p class="text-center pb-4">
				Website: <a
					href="http://www.extremeforminginc.com"
					class="text-blue-500">www.extremeforminginc.com</a
				>
			</p>
			<p class="text-center pb-4">
				Email: <a
					href="mailto:contact@extremeforminginc.com"
					class="text-blue-500">contact@extremeforminginc.com</a
				>
			</p>
			<p class="text-center pb-4">Phone: +1 647 673 1582</p>
			<h5 class="text-center font-bold  text-gray-300 pb-6">Social Media</h5>
			<p class="text-center pb-4">Instagram : <a href="https://www.instagram.com/extreme_forming" class="text-blue-500">https://www.instagram.com/extreme_forming</a></p>
		</section>
	</section>
	<Footer />
</main>

<style>
	/* html {
		scroll-behavior: smooth;
	} */

	.container-img {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.principal {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		gap: 4rem; /* 16 * 0.25rem = 4rem */
	}

	@media (min-width: 768px) {
		.principal {
			display: flex;
			flex-direction: row;
		}
	}
</style>
