---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to EFC	">
	
		</Layout>
		<Header />
				
		<main class="p-8">
			<section class="mb-8">
				<h1 class="text-2xl font-bold mb-4">Who are we?</h1>
				<p>
					We are a proud family business spanning four generations of
					skilled carpenters...
				</p>
				<!-- Resto del texto -->
			</section>
			<section class="grid grid-cols-1 md:grid-cols-2 gap-8">
				<div>
					<h2 class="text-xl font-bold mb-4">
						What services do we offer?
					</h2>
					<ul class="list-disc list-inside">
						<li>Exposed concrete finishes</li>
						<li>Foundation building</li>
						<li>Concrete slabs and stairs</li>
						<li>Retaining walls with custom concrete designs</li>
					</ul>
					<p>
						On the carpentry side, we bring our expertise to
						building homes, fences, decks, and more...
					</p>
				</div>
				<div>
					<!-- <img
						src="/src/public/Vector.png"
						alt="Service Image 1"
						class="w-full h-auto"
					/>
					<img
						src="/path/to/image2.jpg"
						alt="Service Image 2"
						class="w-full h-auto mt-4"
					/>
					<img
						src="/path/to/image3.jpg"
						alt="Service Image 3"
						class="w-full h-auto mt-4"
					/> -->
				</div>
			</section>
		</main>
	</body>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
