<footer>
    <!-- <nav class="f">
        <ul class="flex justify-between pb-8">
            <li
                class="group flex h-fit w-fit flex-col items-center justify-center rounded-full bg-[#0b0705] px-[2em] py-[0.5em] shadow-[inset_0px_2px_4px_0px_#f9f1eb,inset_0px_-2px_4px_0px_#e8c8b0,0px_-2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb] duration-200 hover:translate-y-[5%] active:translate-y-[7%] active:shadow-[inset_0px_-2px_4px_0px_#f9f1eb,inset_0px_2px_4px_0px_#e8c8b0,0px_2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb]"
            >
                <a
                    href="#home"
                    class="font-nunito font-semibold text-[#f7da37] duration-200 group-active:translate-y-[5%]"
                    >Home</a
                >
            </li>
            <li
                class="group flex h-fit w-fit flex-col items-center justify-center rounded-full bg-[#0b0705] px-[2em] py-[0.5em] shadow-[inset_0px_2px_4px_0px_#f9f1eb,inset_0px_-2px_4px_0px_#e8c8b0,0px_-2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb] duration-200 hover:translate-y-[5%] active:translate-y-[7%] active:shadow-[inset_0px_-2px_4px_0px_#f9f1eb,inset_0px_2px_4px_0px_#e8c8b0,0px_2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb]"
            >
                <a
                    href="#services"
                    class="font-nunito font-semibold text-[#f7da37] duration-200 group-active:translate-y-[5%]"
                    >Service</a
                >
                <li
                    class="group flex h-fit w-fit flex-col items-center justify-center rounded-full bg-[#0b0705] px-[2em] py-[0.5em] shadow-[inset_0px_2px_4px_0px_#f9f1eb,inset_0px_-2px_4px_0px_#e8c8b0,0px_-2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb] duration-200 hover:translate-y-[5%] active:translate-y-[7%] active:shadow-[inset_0px_-2px_4px_0px_#f9f1eb,inset_0px_2px_4px_0px_#e8c8b0,0px_2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb]"
                >
                    <a
                        href="#contact"
                        class="font-nunito font-semibold text-[#f7da37] duration-200 group-active:translate-y-[5%]"
                        >Home</a
                    >
                </li>
            </li>
        </ul>
    </nav> -->
    <nav class="f fixed -bottom-6 bg-transparent lg:items-center lg:justify-center">
        <ul class="flex justify-between items-center pb-8 gap-14">
            <li
                class="flex flex-col items-center justify-center rounded-full bg-[#0b0705] px-[2em] py-[0.5em] shadow-[inset_0px_2px_4px_0px_#f9f1eb,inset_0px_-2px_4px_0px_#e8c8b0,0px_-2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb] duration-200 hover:translate-y-[5%] active:translate-y-[7%] active:shadow-[inset_0px_-2px_4px_0px_#f9f1eb,inset_0px_2px_4px_0px_#e8c8b0,0px_2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb]"
            >
                <a
                    href="#home"
                    class="font-nunito font-semibold text-[#f7da37] duration-200 group-active:translate-y-[5%]"
                    >Home</a
                >
            </li>
            <li
                class="flex-col items-center justify-center rounded-full bg-[#0b0705] px-[2em] py-[0.5em] shadow-[inset_0px_2px_4px_0px_#f9f1eb,inset_0px_-2px_4px_0px_#e8c8b0,0px_-2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb] duration-200 hover:translate-y-[5%] active:translate-y-[7%] active:shadow-[inset_0px_-2px_4px_0px_#f9f1eb,inset_0px_2px_4px_0px_#e8c8b0,0px_2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb]"
            >
                <a
                    href="#services"
                    class="font-nunito font-semibold text-[#f7da37] duration-200 group-active:translate-y-[5%]"
                    >Service</a
                >
            </li>
            <li
                class="flex-col items-center justify-center rounded-full bg-[#0b0705] px-[2em] py-[0.5em] shadow-[inset_0px_2px_4px_0px_#f9f1eb,inset_0px_-2px_4px_0px_#e8c8b0,0px_-2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb] duration-200 hover:translate-y-[5%] active:translate-y-[7%] active:shadow-[inset_0px_-2px_4px_0px_#f9f1eb,inset_0px_2px_4px_0px_#e8c8b0,0px_2px_16px_0px_#e8c8b0,0px_2px_16px_0px_#f9f1eb]"
            >
                <a
                    href="#contact"
                    class="font-nunito font-semibold text-[#f7da37] duration-200 group-active:translate-y-[5%]"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</footer>
