<footer>
    <nav
        class="flex  fixed pt-2 left-0 -bottom-6  w-full bg-neutral-700 "
    >
   <img src="/src/imagenes/LogoFooter.png" alt=""
   class="hidden md:block md:h-6 lg:h-7 md:mt-2 lg:mt-1 ml-4 absolute left-0">
        <ul class="flex justify-between items-center pb-8 gap-3 md:gap-6 text-sm mx-auto">
            <li>
                <button
                    class="cursor-pointer text-center  bg-neutral-900 px-7 py-2 rounded-full text-[#f7da37] tracking-wider shadow-xl hover:bg-gray-900 hover:scale-105 duration-500 hover:ring-1 font-mono"
                    >Home</button>
            </li>
            <li>
                <button
                    class="cursor-pointer text-center bg-neutral-900 w-28 py-2 rounded-full text-[#f7da37] tracking-wider shadow-xl hover:bg-gray-900 hover:scale-105 duration-500 hover:ring-1 font-mono"
                    >Services</button>
            </li>
            <li>
                <button
                    class="cursor-pointer text-center bg-neutral-900 px-7 py-2 rounded-full text-[#f7da37] tracking-wider shadow-xl hover:bg-gray-900 hover:scale-105 duration-500 hover:ring-1 font-mono"
                    >Contact</button>
            </li>
        </ul>
    </nav>
</footer>
