<footer>
    <nav class="flex fixed pt-2 left-0 -bottom-6 w-full h-20 bg-neutral-700">
        <img
            src="/src/imagenes/LogoFooter.png"
            alt="Logo letras"
            class="hidden md:block md:h-6 lg:h-7 md:mt-2 lg:mt-1 ml-4 absolute left-0"
        />
        <ul
            class="flex justify-between items-center pb-8 gap-3 md:gap-6 text-sm mx-auto"
        >
            <li>
                <a
                    href="#home"
                    class="cursor-pointer text-center bg-neutral-900 px-7 py-2 rounded-full text-[#f7da37] tracking-wider shadow-xl hover:bg-gray-900 hover:scale-105 duration-500 hover:ring-1 font-mono"
                    >Home</a
                >
            </li>
            <li>
                <a
                    href="#services"
                    class="cursor-pointer text-center bg-neutral-900 px-7 py-2 rounded-full text-[#f7da37] tracking-wider shadow-xl hover:bg-gray-900 hover:scale-105 duration-500 hover:ring-1 font-mono"
                    >Services</a
                >
               
            </li>
            <li>
                <a
                    href="#contact"
                    class="cursor-pointer text-center bg-neutral-900 px-7 py-2 rounded-full text-[#f7da37] tracking-wider shadow-xl hover:bg-gray-900 hover:scale-105 duration-500 hover:ring-1 font-mono"
                    >Contact</a
                >
            </li>
        </ul>
    </nav>
</footer>
