---

---

<header>
    <nav class="bg-slate-950 flex justify-between">
        <div class="p-8"><img src="src/imagenes/LogoB.svg" alt="" /></div>
        <div>
            <ul class="text-yellow-500 flex gap-4 p-4">
                <li>Home </li>
                <li>About </li>
                <li>Service </li> 
                <li>Contac </li>
            </ul>
        </div>
        <div class="flex ">
            <ul class="flex gap-8 p-4">
                <li>
                    <a href=""
                        ><img src="src/imagenes/Instagram.svg" alt="insta" /></a
                    >
                </li>
                <li>
                    <img src="src/imagenes/mail.svg" alt="" /><a href=""></a>
                </li>
                <li>
                    <img src="src/imagenes/Whatsapp.svg" alt="" />
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
