---

---

<!-- <header>
    <nav
        class="bg-slate-950 flex flex-col md:flex-row justify-between items-center p-4"
    >
        <div class="mb-4 md:mb-0">
            <img src="src/imagenes/LogoB.svg" alt="Logo" class="h-12" />
        </div>
        <div class="w-full md:w-auto">
            <ul class="text-yellow-500 flex flex-col md:flex-row gap-4 p-4">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="flex w-full md:w-auto justify-center md:justify-end">
            <ul class="flex gap-8 p-4">
                <li>
                    <a href="https://instagram.com" target="_blank">
                        <img
                            src="src/imagenes/Instagram.svg"
                            alt="Instagram"
                            class="h-6"
                        />
                    </a>
                </li>
                <li>
                    <a href="mailto:ExtremeformingInc@outlook.com">
                        <img
                            src="src/imagenes/mail.svg"
                            alt="Mail"
                            class="h-6"
                        />
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/16476731582" target="_blank">
                        <img
                            src="src/imagenes/Whatsapp.svg"
                            alt="Whatsapp"
                            class="h-6"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header> -->
<header class="px-24">
    <nav
        class=" flex flex-col w-full lg:flex-row justify-between items-center py-6 "
    >
        <div class="mb-4 md:mb-0">
            <img
                src="https://res.cloudinary.com/pruebaweb/image/upload/v1728188571/Im%C3%A1genes%20de%20proyectos/web-mati/LogoB_zrpwcl.svg"
                alt="Logo"
                class=""
            />
        </div>
        <div class="w-full md:w-auto">
            <ul
                class="text-yellow-500 flex justify-center md:flex-row gap-4 p-6"
            >
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="flex w-full md:w-auto justify-center md:justify-end">
            <ul class="flex gap-8 px-8">
                <li>
                    <a href="https://instagram.com" target="_blank">
                        <img
                            src="https://res.cloudinary.com/pruebaweb/image/upload/v1728188571/Im%C3%A1genes%20de%20proyectos/web-mati/Insta_mmgub5.png"
                            alt="Instagram"
                            class="h-6"
                        />
                    </a>
                </li>
                <li>
                    <a href="mailto:ExtremeformingInc@outlook.com">
                        <img
                            src="https://res.cloudinary.com/pruebaweb/image/upload/v1728188571/Im%C3%A1genes%20de%20proyectos/web-mati/Mail_mt6rzr.png"
                            alt="Mail"
                            class="h-6"
                        />
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/16476731582" target="_blank">
                        <img
                            src="https://res.cloudinary.com/pruebaweb/image/upload/v1728188571/Im%C3%A1genes%20de%20proyectos/web-mati/Whatp_zzp8zb.png"
                            alt="Whatsapp"
                            class="h-6"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
